form{
    margin-top: 35%;
    margin-left: 20px;
}

input{
    margin-top: 10px;
    text-align: center;
    
}

input[type=text] {
    border: 1px solid #77a141;
    border-radius: 4px;
  } 

.vertical { 
    border-left: 2px solid #1f4b4b; 
    height: 150px;  
     position:absolute;  
   margin-right: 100%;
    margin-top: 30%;
  }
h1{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 30%;
} 

.button {
    background-color: #77a141; 
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 55px;
  }
