<!-- <div class="container"> -->
    
    <!-- Search form -->
    <!-- <div class="container h-100">
        <div class="d-flex justify-content-center align-items-center my-3">
            <img src="assets/images/bird.svg" height="60px" class="p-2">        
            <input class="form-control p-2 text-center" type="text" name="" placeholder="Search Species" >
        </div>
      </div>
      <div class="row p-4">
        <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
           <h3>NAME </h3>
            
          </div>
          <div class="col-md-5">
           <h3>SIGHTINGS</h3> 
          </div>
        </div>
        <hr class="name" /> 
        <div class="row">
          <div class="col-md-5" *ngFor="let birds of bird">
              <p style="color: #1f4b4b;"><span>{{birds.common_name}}//</span></p>

          </div>
          <div class="col-md-5">
              <p style="color: #1f4b4b;"><span>1334</span></p>
          </div>
        </div>
        <div class="row">
          <div class=col-md-5>
              <p>Helmetedn Guineafow</p>
          </div>
          <div class="col-md-5">
              <p>1000</p>
          </div>
        </div>
        <div class="row">
            <div class=col-md-5>
                <p>Shelley's Francolin</p>
            </div>
            <div class="col-md-5">
                <p>900</p>
            </div>
          </div>
          <div class="row">
              <div class=col-md-5>
                  <p>Crested Francolin</p>
              </div>
              <div class="col-md-5">
                  <p>750</p>
              </div>
            </div>
          </div>     
        <div class="col-sm-5">
          <h2>DETAILS</h2>
          <hr class="details" />
          <div class="parag">
          <p><strong> Scientific Name:</strong> Common Ostrich</p>
          <p> <strong>Common Name:</strong> Struthio camelus</p>
          <p><strong>Category:</strong> Ground Birds</p>
          <hr class="Description"/>
          <strong><p>Description</p></strong>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
          <hr class="Description"/>
        </div>
      </div> -->

      
      <div style="margin:auto; width: 70%; margin-top: 30px;">
        <app-search-bar (onSelectedOption)="onSelectedFilter($event)"></app-search-bar>
        <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
      </div>

      <h2 style="text-align:center">Data</h2>
      <div *ngFor="let birds of bird" class="group">
        <p><b>id :</b>{{birds.id}}</p>
        <p><b>Cname :</b> {{birds.common_name}}</p>
        <p><b>Sname: </b>{{birds.scientific_name}}</p>
      </div>
      
      

      