* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .sightings{
    margin-left: 30%;
} */

.select-bird {
    color: #0d4661;
    text-decoration: none;
    cursor: pointer;
}

.select-bird:hover, .select-bird:focus, .select-bird:active{
    color: #0d4661;
    text-decoration: none;
    font-weight: bolder;
}

h1{
    margin-left: 25%;
    font-size: 25px;
}

span{
    margin-left: 20%;
}


h2{
    font-size:25px;
    text-align: center;
}



h3{
    font-size: 20px;
    margin-left: 25%;
}

.image{
    height: 30%;
    width: 40%;
    margin-left: 30%;
    border: 1px solid #ddd;
    border-radius: 4px; 
}

.records {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0 auto;
}

.item {
    width: 33%;
}

.bird img {
    display: block;
    margin: 1rem;
}


.title {
    font-weight: 700;
    color: #0d4661;
    text-transform: uppercase;
    border-bottom: 1px solid #0d4661;
}
.desc {
    padding-left: 1rem;
}

/* new species */





/* h1{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
} */

/* p{
    font-size: 15px;
    margin-left: 10px;
  
} */
/* .parag{
      margin-left: 10%;

} */
/* h2{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
} */


/* h3{ */
    /* font-size: 15px; */
    /* margin-left: 25%; 
    font-weight: bold;
}

/* .image{
    height: 30%;
    width: 30%;
    margin-left: 30%;
    border: 1px solid #ddd;
    border-radius: 4px;
} */

/* .details{
    border: 2px solid gray; 
    width: 80%;
    
} */
/* .name{
    border: 2px solid gray; 
    width: 70%;
    margin-right: 35%;
} */

/* span{
    font-weight: bold;
} */

/* small{
    margin-left: 30%;
    font-size: 15px;
} */

/* .end{
    border: 0.5px solid gray; 
    width: 80%;
} */

/* h4{
    margin-left: 20%;
    font-weight: bold;
} */

/* a {
    color: #000;
} */

/* .bird:hover {
    text-decoration: none;
    color:#1f4b4b;
    cursor: pointer;
} */

/* .bird:focus {
    text-decoration: none;
    color:#1f4b4b;
} */


/* #details {
    display: none;
} */