<div class="container">
    
    <!-- Search form -->
    <div class="container h-100">
        <div class="d-flex justify-content-center align-items-center my-3">
            <img src="assets/images/bird.svg" height="60px" class="p-2">        
            <input class="form-control p-2" type="text" name="" placeholder="Search..." >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
           <h1>NAME <span >SIGHTINGS</span></h1>
          <hr class="name" />
          <h4 style="color: #1f4b4b;">Ostrich <span>1334</span></h4>
          <p>Helmetedn Guineafow <small>1000</small></p>
          <p>Shelley's Francolin <small>900</small></p>
          <p>Crested Francolin   <small>750</small></p>
          
          
        </div>
      
        <div class="col-sm-6">
          <h2>DETAILS</h2>
          <hr class="details" />
          <p><strong> Scientific Name:</strong> Common Ostrich</p>
          <p> <strong>Common Name:</strong> Struthio camelus</p>
          <p><strong>Category:</strong> Ground Birds</p>
          <hr class="Description"/>
          <strong><p>Description</p></strong>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <hr class="Description"/>
        </div>
      </div>
      

      