<div class="container">
  <div class="container h-100">
    <div class="d-flex justify-content-center align-items-center my-3">
      <div style="width: 70%; margin-top: 30px;">
        <app-search-bar
          (onSelectedOption)="onSelectedFilter($event)"
        ></app-search-bar>
        <button class="btn-primary my-3">Add Bird</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="sightings">
        <h1>NAME<span>SIGHTINGS</span></h1>
        <hr class="name" />
        <div class="sight" *ngFor="let bird of bird">
          <p>{{ bird.common_name }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" *ngFor="let bird of bird">
      <h2>DETAILS</h2>
      <hr class="det" />
      <img src="{{ bird.bird_image_url }}" alt="" class="image" />
      <h3>
        Scientific Name: <small>{{ bird.scientific_name }}</small>
      </h3>
      <h3>
        Common Name: <small>{{ bird.common_name }}</small>
      </h3>
      <h3>
        Category: <small>{{ bird.category }}</small>
      </h3>
      <hr class="det" />
      <h3 class="desc">
        Description: <small>{{ bird.bird_description }}</small>
      </h3>
      <hr class="det" />
    </div>
  </div>
</div>


<!--add functionality-->
