h1{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

p{
    font-size: 15px;
    margin-left: 10px;
  
}
.parag{
      margin-left: 10%;

}
h2{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

h3{
    font-size: 15px;
    /* margin-left: 25%; */
    font-weight: bold;
}

.image{
    height: 30%;
    width: 30%;
    margin-left: 30%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.details{
    border: 2px solid gray; 
    width: 80%;
    
}
.name{
    border: 2px solid gray; 
    width: 70%;
    margin-right: 35%;
}
span{
    font-weight: bold;
}
small{
    margin-left: 30%;
    font-size: 15px;
}

.end{
    border: 0.5px solid gray; 
    width: 80%;
}

h4{
    margin-left: 20%;
    font-weight: bold;
}

a {
    color: #000;
}

.bird:hover {
    text-decoration: none;
    color:#1f4b4b;
    cursor: pointer;
}

.bird:focus {
    text-decoration: none;
    color:#1f4b4b;
}


/* #details {
    display: none;
} */