@import url('https://fonts.googleapis.com/css?family=Lato:300,700&display=swap');
/* Reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: lato;
}

.heading {
  background:#1f4b4b ;
  color: #fff;
  text-align: center;
  padding: .5rem 0;
  text-transform: uppercase;
  position: relative;
  z-index: -1;
  
}

/* Sidebar */
.sidebar {
  background: #1f4b4b;
  height: 100vh;
  width: 15vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.sidebar img {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 2rem 0;
  border-bottom: 2px solid #fff;
}

/* Sidebar tabs */
.tabs {
  position: relative;
  top: 100px;
  color: #fff;
  z-index: 5;
  list-style-type: none;
}
.tabs li {
  text-transform: uppercase;
  /* width: 100%; */
}
.tabs li a {
  display: inline-block;
  width: 15%;
  padding: 1rem;
  margin: .5rem 0;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  /* margin-left: -0.7rem; */
  
}

.tabs li a:focus {
  background: #77a141;
}
.tabs li a:hover {
  background: #77a141;
}


.content {
  height: 100vh;
  width: 85vw;
  position: absolute;
  left: 15%;
  top: 6%;
}
