<div class="container-fluid">
    <header>
      <div class="heading">
        <h4>Ol Pejeta Dashboard</h4>
      </div>
    </header>
    <main>
      <div class="sidebar">
        <img src="assets/images/logo.png" alt="Ol Pejeta logo" class="img-fluid" />
      </div>
      <ul class="tabs">
        <li><a href="#">Summary</a></li>
        <li><a href="#">Species</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Sightings</a></li>
        <li><a href="#">Guides</a></li>
      </ul>
    </main>
    </div>