<!-- 
 <div class="container-fluid">
    <header>
      <div class="heading">
        <h4>Ol Pejeta Dashboard</h4>
      </div>
    </header>
    <div class="main-content">
      <div>
        <div class="sidebar">
          <img
            src="assets/images/logo.png"
            alt="Ol Pejeta logo"
            class="img-fluid"
          />
        </div>
        <ul class="tabs">
          <li><a routerLink="summary">Summary</a></li>
          <li><a routerLink="species">Species</a></li>
          <li><a routerLink="users">Users</a></li>
          <li><a routerLink="sightings">Sightings</a></li>
          <li><a routerLink="guides">Guides</a></li>
        </ul>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>  -->