<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>NAME<span>SIGHTINGS</span></h1>
      <hr class="name" />
      <div class="users" *ngFor = "let user of users" >
          <p class="one_user" (click)="selectUser(user.id)" >{{ user.user_name }}</p>
       
      </div>
    </div>

    <div class="col-md-6">
      <h2>DETAILS</h2>
      <div *ngFor="let details of selectedUser">
        <h1>{{details.date_taken}}</h1>
      </div>
      <hr class="det" />
      <img
        src="https://images.unsplash.com/photo-1486365227551-f3f90034a57c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
        alt=""
        class="image"
      />
      <h3>Scientific Name: <small>Scissor-tailed Kite</small></h3>
      <h3>Common Name: <small>Chelictinia riocourii</small></h3>
      <h3>Age: <small>20</small></h3>
      <hr class="det" />

     
      <h3>Scientific Name: <small>Black winged kite</small></h3>
      <h3>Common Name: <small>Elanus Caeruleus</small></h3>
      <h3>Age: <small>22</small></h3>
      <hr class="end" />
    </div>
  </div>
</div>
