h1{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30%;
    text-align: center;
}

span{
    margin-left: 50%;
    font-size: 20px;
    font-weight: lighter;
}

.name{
    border: 1px solid gray; 
    width: 80%;
}

p{
    font-size: 15px;
    margin-left: 35%;
}

h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    margin-right: 50%;
}

.det{
    width: 80%;
}

h3{
    font-size: 15px;
    margin-left: 25%;
    font-weight: bold;
} 

.image{
    height: 30%;
    width: 30%;
    margin-left: 30%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* .details{
    border: 1px solid gray; 
    width: 80%;
} */


/* small{
    margin-left: 10px;
    font-size: 15px;
} */

/* .end{
    border: 0.5px solid gray; 
    width: 80%;
} */