<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>NAME<span>SIGHTINGS</span></h1>
      <hr class="name" />
        <p>shon@gmail.com<span>1334</span></p>
        <p>andrew@gmail.com<span>1000</span></p>  
      </div>

         <div class="col-md-6">
      <h2>DETAILS</h2>
      <hr class="det">
      <img src="https://images.unsplash.com/photo-1486365227551-f3f90034a57c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="image">
      <h3>Scientific Name: <small>Scissor-tailed Kite</small></h3>
      <h3>Common Name: <small>Chelictinia riocourii</small></h3>
      <h3>Age: <small></small>20</h3>
      <h3>Date: <small></small></h3>
      <hr class="det">

      <img src="https://images.unsplash.com/photo-1507477338202-487281e6c27e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="image">
      <h3>Scientific Name: <small>Black winged kite</small></h3>
      <h3>Common Name: <small>Elanus Caeruleus</small></h3>
      <h3>Age: <small></small>22</h3>
      <h3>Date: <small></small></h3>
      <hr class="end">
      </div>
  </div>
</div>




