h1{
    font-size: 20px;
    margin-left: 30%;
    text-align: center;
}

span{
    margin-left: 30%;
    font-size: 20px;
    font-weight: lighter;
}

.name{
    border: 1px solid gray; 
    width: 60%;
    margin-right: 10%;
}

p{
    font-size: 15px;
    margin-left: 35%;
}

h2{
    font-size: 20px;
    text-align: center;
    margin-right: 50%;
    margin-left: 45%;
}

.det{
    width: 50%;
    border: 1px solid gray;

}

h3{
    font-size: 15px;
    margin-left: 30%;
    font-weight: bold;
} 

.image{
    height: 30%;
    width: 40%;
    margin-left: 30%;
    border: 1px solid #ddd;
    border-radius: 4px; 
}

.container{
    margin-top: 10px;
}


small{
    margin-left: 10px;
    font-size: 15px;
}

.end{
    border: 0.5px solid gray; 
    width: 60%;
}

.one_user{
    cursor: pointer;
    color: #0d4661;
}

.one_user:hover {
    font-weight: bolder;
}