<h4>Add a New Bird</h4>
<form action="">
  <input type="text" placeholder="Enter Common Name" class="form-control my-3 p-3">
  <input type="text" placeholder="Enter Scientific Name" class="form-control my-3 p-3">
  <input type="text" placeholder="Enter General Status" class="form-control my-3 p-3">
  <input type="text" placeholder="Enter Conservation Status" class="form-control my-3 p-3">
  <input type="text" placeholder="Enter Species Name" class="form-control my-3 p-3">
  <input type="text" placeholder="Enter Category" class="form-control my-3 p-3">
  <input type="text" placeholder="Enter Bird Image URL" class="form-control my-3 p-3">
  <input type="text" placeholder="Enter Bird Description" class="form-control my-3 p-3">
  <input type="text" placeholder="Enter Bird Sound URL" class="form-control my-3 p-3">
  <input type="submit" value="Add Bird" class="btn btn-primary">
  <button class="btn btn-danger" (click)="closeModal()">Close</button>
</form>