<div class="encloser">
  <div class="top-bar"></div>
   
   
  <div class="container">
   
  <div class="flex-items d-flex justify-content-center align-items-center" style="height: 96vh;">
      <div class="card mt-4" style="width: 25rem;">
          <img src="../../../assets/ol-pejeta-logo.svg" alt="Responsive image" class="img-fluid d-block w-75 ml-5">
          <div class="card-body">
              <form action="/action_page.php" class="text-center mt-4">
                <div class="inputWithIcon">  
                  <input type="text" class="form-control" id="username" placeholder="username">
                  <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="inputWithIcon">      
                  <input type="text" class="form-control" id="pwd" placeholder="password">
                  <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-success btn-sm">Submit</button>        
   
            </form>
          </div>
        </div>
  </div>    
  </div>
  <div class=bottom-bar></div>
  </div>