<div class="encloser">
  <div class="top-bar"></div>
  <div class="container">
   
  <div class="flex-items d-flex justify-content-center align-items-center flex-column">
      
          <img src="../../../assets/ol-pejeta-logo.svg" alt="Responsive image" class="img-fluid d-block w-75 ml-5 logo" width="">
            <h6>ADMIN LOGIN</h6>

              <form action="/action_page.php" class="text-center mt-4">
                <div class="inputWithIcon " style="padding-bottom: 10px;">  
                  <input type="text" class="form-control" id="username" placeholder="username">
                  <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="inputWithIcon" style="padding-bottom: 10px;">      
                  <input type="password" class="form-control" id="pwd" placeholder="password">
                  <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                  <i class="fa fa-eye-slash" id="me" aria-hidden="true" ></i>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-success btn-sm">LOGIN</button>        
            </form>
            
  </div>
  </div>
  <div class=bottom-bar></div>
  </div>