/* Logo Styling */
.logo{
    height: 100px;
}

.flex-items {
    height: 96vh;
}

.encloser {
    height: 100%;
}
.top-bar{
    background-color: #1F4B4B;
    height: 2vh;
}
.bottom-bar{
    background-color: #1F4B4B;
    height: 2vh;
}
#username{
    text-align: center;
}
#pwd{
    text-align: center;
}
.inputWithIcon input[type=text]{
    padding-left: 40px;
}
.inputWithIcon{
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    left: 0;
    top: 7px;
    padding: 7px 8px;
    transition: 1s;
}
#me{
    position: absolute;
    left: 87%;
    top: 7px;
    padding: 7px 8px;
    transition: 1s;
}
.inputWithIcon input[type=text]:focus + i{
    color: #77A141;
}

h6{
    padding-top: 10px;
    color: #77a141;
    text-align: center;
    font-weight: bolder;
}



